{% extends "base_generic.html" %}

{% block content %}
<div class="content-wrapper">
    <header class="wrapper bg-soft-primary">
        <nav class="navbar navbar-expand-lg fancy navbar-light navbar-bg-light caret-none">
            <div class="container"><!-- /.navbar-collapse-wrapper --></div><!-- /.container -->
        </nav><!-- /.navbar -->
    </header><!-- /header -->
    <section class="wrapper bg-gradient-primary">
        <div class="container py-14 pt-md-15 pb-md-18">
            <div class="row text-center">
                <div data-cues="zoomIn" data-group="welcome" data-interval="-200" class="col-lg-9 col-xxl-7 mx-auto">
                    <h2 class="display-1 mb-4">完美世界</h2>
                    <p class="lead fs-24 lh-sm px-md-5 px-xl-15 px-xxl-10 mb-7">测试中心兼容设备查询库</p>
                </div><!-- /column -->
            </div><!-- /.row -->
            <div data-cues="slideInDown" data-group="join" data-delay="900" class="d-flex justify-content-center">
                <span><a href="{% url 'devices' %}cn"
                        class="btn btn-lg btn-primary rounded-pill mx-1">国内兼容设备</a></span><span><a
                        href="{% url 'devices' %}oversea"
                        class="btn btn-lg btn-primary rounded-pill mx-1">海外兼容设备</a></span><span><a
                        href="{% url 'devices' %}iOS"
                        class="btn btn-lg btn-primary rounded-pill mx-1">iOS设备</a></span></div>
            <!-- /div --><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /section -->
    <section class="wrapper bg-light">
        <div class="container"><!-- /.row --><!--/.row --></div>
        <!-- /.container --><!-- /.overflow-hidden -->
    </section><!-- /section --><!-- /section -->
    <p>设备数据统计:</p>
    <ul>
        <li><strong>设备总数:</strong> {{ num_Devices }}</li>
        <li><strong>可用设备:</strong> {{ num_devices_available }}</li>
    </ul>
    {% endblock %}