{% extends "base_generic.html" %}

{% block content %}
<h1>海外安卓兼容设备列表</h1>
    <span>
      <form method="get" action="{% url 'deviceSearch' %}">
        <input type="search" name="q" placeholder="要搜索的内容"/>
        <input type="submit" value="全局搜索">
      </form>
    </span>

  {% if device_list %}
    <table width="1200" cellspacing="0" border="1" solid #ccc>
      <tr>
        <th scope="col">设备编号</th>
        <th scope="col">设备品牌</th>
        <th scope="col">当前版本</th>
        <th scope="col">CPU品牌</th>
        <th scope="col">RAM</th>
        <th scope="col">ROM</th>
        <th scope="col">GPU品牌</th>
        <th scope="col">分辨率</th>
        <th scope="col">借用状态</th>
        <th scope="col">借用人</th>
        <th scope="col">设备平台</th>

      </tr>
      {% for device in device_list %}
        <tr>
          <td><a href="{{ device.get_absolute_url }}">{{ device.deviceId }}</a></td>
          <td>{{device.brand}}</td>
          <td>{{device.OSVersion}}</td>
          <td>{{device.cpuBrand}}</td>
          <td>{{device.RAM}}</td>
          <td>{{device.ROM}}</td>
          <td>{{device.gpuBrand}}</td>
          <td>{{device.resolution}}</td>
          <td>{{device.get_status_display}}</td>
          <td>{{device.borrower}}</td>
          <td><a href="{{ device.genre.get_absolute_url }}">{{ device.genre.name }}</a></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no devices in the library.</p>
  {% endif %}
{% endblock %}