{% extends "base_generic.html" %}

{% block content %}
<h1 id="dis-center">设备编号: {{ device.deviceId }}</h1>
<!-- 展示设备信息 -->
<div>

<table id="table-1">
    <tr>
        <td><strong>设备分类:</strong></td>
        <td>
            {%for genre in device.genre.all%}
            <a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a></br>
            {% endfor %}
        </td>
        <td><strong>设备品牌:</strong></td>
        <td>{{ device.brand }}</td>
        <td><strong>设备名称:</strong></td>
        <td>{{ device.name }}</td>
    </tr>
    <tr>
        <td><strong>设备型号:</strong></td>
        <td>{{ device.deviceModel }}</td>
        <td><strong>当前版本:</strong></td>
        <td>{{ device.OSVersion }}
        {%for genre in device.genre.all%}
            {%if device.OSVersion in genre.up.up_OSVersion and device.status == "可用"%}
                <font size="1" color="red">({{genre.name}})</font>
            {%endif%}
        {%endfor%}</td>
        <td><strong>cpu品牌:</strong></td>
        <td>{{ device.cpuBrand }}</td>
    </tr>
    <tr>
        <td><strong>cpu型号:</strong></td>
        <td>{{ device.cpuModel}}
        {%for genre in device.genre.all%}
            {%if device.cpuModel in genre.up.up_cpuModel and device.status == "可用"%}
                <font size="1" color="red">({{genre.name}})</font>
            {%endif%}
        {%endfor%}</td>
        </td>
        <td><strong>cpu频率:</strong></td>
        <td>{{ device.cpuFrequency}}</td>
        <td><strong>cpu核心数:</strong></td>
        <td>{{ device.cpuCoreNum }}</td>
    </tr>
    <tr>
        <td><strong>GPU型号:</strong></td>
        <td>{{ device.gpuModel }}
        {%for genre in device.genre.all%}
            {%if device.gpuModel in genre.up.up_gpuModel and device.status == "可用"%}
                <font size="1" color="red">({{genre.name}})</font>
            {%endif%}
        {%endfor%}</td>
        <td><strong>RAM:</strong></td>
        <td>{{ device.RAM }}</td>
        <td><strong>GPU品牌:</strong></td>
        <td>{{ device.gpuBrand }}</td>
    </tr>
    <tr>
        <td><strong>分辨率:</strong></td>
        <td>{{ device.resolution|linebreaksbr }}
        {%for genre in device.genre.all%}
            {%if device.resolution in genre.up.up_resolution and device.status == "可用"%}
                <font size="1" color="red">({{genre.name}})</font>
            {%endif%}
        {%endfor%}</td>
        <td><strong>屏幕类型:</strong></td>
        <td>{{ device.screenType }}</td>
        <td><strong>尺寸:</strong></td>
        <td>{{ device.size }}</td>
    </tr>
    <tr>
        <td><strong>wanmeioffice开通状态:</strong></td>
        <td>{{ device.wanmeiOffice }}</td>
        <td><strong>MAC地址:</strong></td>
        <td>{{ device.MACAddr }}</td>
        <td><strong>资产编号:</strong></td>
        <td>{{ device.assetNumber }}</td>
    </tr>
    <tr>
        <td><strong>设备状态:</strong></td>
        <td>{{ device.get_status_display }}</td>
        <td><strong>借用人:</strong></td>
        <td>{{ device.borrower }}</td>
        <td><strong>预计归还:</strong></td>
        <td>{{ device.dueBackTime|date:"Y-m-d" }}</td>
    </tr>
<!-- 借用设备逻辑展示 -->
<tr><td colspan="6">
    <p><br></p>
    <p></p>
    <p></p>
    <p></p>
    <!-- 检验是否登录 -->
    {% if request.user.username%}
        <!-- 可用设备展示借用按钮 -->
        {% if device.status == "可用"%}
        <!-- 唯一设备做特殊展示 -->
            {% if device.onlyOne_cn or device.onlyOne_oversea or device.onlyOne_iOS%}
                <!-- 展示设备的特殊性 -->
                {% for genre in device.genre.all %}
                <h3>{{genre.name}}:</h3>
                    {% if device.OSVersion in genre.up.up_OSVersion%}
                        <strong><font color=red>系统版本</font> 唯一|</strong>
                    {%endif%}
                    {% if device.cpuModel in genre.up.up_cpuModel%}
                        <strong><font color=red>CPU型号</font> 唯一|</strong>
                    {%endif%}
                    {% if device.gpuModel in genre.up.up_gpuModel%}
                        <strong><font color=red>GPU型号</font> 唯一|</strong>
                    {%endif%}
                    {% if device.resolution in genre.up.up_resolution%}
                        <strong><font color=red>分辨率</font> 唯一|</strong>
                    {%endif%}
                {% endfor %}
                <p></p>
                <form action="{{ device.get_absolute_url }}/borrow/" method="post">
                    {% csrf_token %}
                    <p>借 用 人 : <input type="text" name="borrower" required="required"></p>
                    <p>预计归还: <input type="date" name="backdate" required="required"></p>
                    <input type="hidden" name="act" value="借用">
                    <input type="hidden" name="status" value="借出">
                    <input type="submit" value="借用唯一设备" class="btn btn-lg btn-primary" onclick="return window.confirm('确认借出吗？')">
                </form>
            {% else %}
                <form action="{{ device.get_absolute_url }}/borrow/" method="post">
                    {% csrf_token %}
                    <p>借 用 人 : <input type="text" name="borrower" required="required"></p>
                    <!-- <p>借用日期<input type="date" name="dat" placeholder="借用日期"></p> -->
                    <p>预计归还: <input type="date" name="backdate" required="required"></p>
                    <input type="hidden" name="act" value="借用">
                    <input type="hidden" name="status" value="借出">
                    <input type="submit" value="借用" class="btn btn-lg btn-primary" onclick="return window.confirm('确认借出吗？')">
                </form>
            {%endif%}
        <!-- 借出设备展示归还按钮 -->
        {% elif device.status == "借出"%}
            <form action="{{ device.get_absolute_url }}/borrow/" method="post">
                {% csrf_token %}
                <p>归 还 人 : <input type="text" name="borrower" required="required"><a>借用人：{{device.borrower}}</a></p>
                <!-- <p>借用日期<input type="date" name="dat" placeholder="借用日期"></p> -->
                <input type="hidden" name="act" value="归还">
                <input type="hidden" name="status" value="可用">
                <input type="hidden" name="deviceid" value="{{ device.deviceId }}">
                <input type="submit" value="归还" class="btn btn-lg btn-primary" onclick="return window.confirm('请确认手机已归还！')">
            </form>
        <!-- 不可用设备展示不可用按钮 -->
        {% else %}
            <span><a href="" class="btn btn-lg btn-primary" disabled>不可用</a></span>
        {%endif%}
        <p><a href="{{ device.get_absolute_url }}/lendhistory/">借用记录</a></p>
    <!-- 未登录玩家展示登录提示 -->
    {% else %}
        <p><strong><a href="{% url 'login'%}">登录</a></strong>后可查看借用信息</p>
    {%endif%}
</td></tr></table>

</div>
{% endblock %}