{% extends "base_generic.html" %}

{% block content %}
<div>
  <h2 class="display-4" id="dis-center">{{plt}}兼容设备列表</h2>
</div>
<div id="dis-center">
  <span>
    <form method="get" action="{% url 'deviceSearch' %}">
      <input type="search" name="q" placeholder="要搜索的内容" />
      <input type="submit" value="全局搜索"> 
    </form>
  </span >
  <!-- <a href="{% url 'devices-filter' %}" class="">筛选设备</a> -->
</div>

{% if device_list %}
<table id="table-1">
  <tr>
    <th scope="col">设备编号</th>
    <th scope="col">设备品牌</th>
    <th scope="col">当前版本</th>
    <th scope="col">CPU品牌</th>
    <th scope="col">CPU型号</th>
    <th scope="col">RAM</th>
    <th scope="col">ROM</th>
    <th scope="col">GPU品牌</th>
    <th scope="col">GPU型号</th>
    <th scope="col">分辨率</th>
    <th scope="col">借用状态</th>
    <th scope="col">设备平台</th>
  </tr>
  {% for device in device_list %}
  <tr>
    <td><a href="{{ device.get_absolute_url }}">{{ device.deviceId }}</a></td>
    <td>{{device.brand}}</td>
    {% if device.OSVersion in only_ver_list and device.status == "可用" %}
    <td><strong>
        <font color="red">{{device.OSVersion}}</font>
      </strong></td>
    {% else %}
    <td>{{device.OSVersion}}</td>
    {% endif %}
    <td>{{device.cpuBrand}}</td>
    {% if device.cpuModel in only_cpu_list and device.status == "可用" %}
    <td><strong>
        <font color="red">{{device.cpuModel}}</font>
      </strong></td>
    {% else %}
    <td>{{device.cpuModel}}</td>
    {% endif %}
    <td>{{device.RAM}}</td>
    <td>{{device.ROM}}</td>
    <td>{{device.gpuBrand}}</td>
    {% if device.gpuModel in only_gpu_list and device.status == "可用" %}
    <td><strong>
        <font color="red">{{device.gpuModel}}</font>
      </strong></td>
    {% else %}
    <td>{{device.gpuModel}}</td>
    {% endif %}
    {% if device.resolution in only_resolution_list and device.status == "可用" %}
    <td><strong>
        <font color="red">{{device.resolution|linebreaksbr}}</font>
      </strong></td>
    {% else %}
    <td>{{device.resolution|linebreaksbr}}</td>
    {% endif %}
    <td>
      {% if device.onlyOne_cn%}
      <strong>
        <font color="red">国内唯一</font>
      </strong></br>
      {% endif %}
      {% if device.onlyOne_oversea%}
      <strong>
        <font color="blue">海外唯一</font>
      </strong></br>
      {% endif %}
      {% if device.onlyOne_iOS%}
      <strong>
        <font color="green">iOS唯一</font>
      </strong></br>
      {% endif %}
      {% if not device.onlyOne_cn and not device.onlyOne_oversea and not device.onlyOne_iOS%}
      {{device.status}}
      {% endif %}
    </td>
    <td>
      {%for genre in device.genre.all%}
      <a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a></br>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<div id="dis-center">
<p>There are no devices in the library.</p>
</div>
{% endif %}
{% endblock %}