{% extends "base_generic.html" %}

{% block content %}
<div id="dis-center">
    <h1>筛选目标设备</h1>
    {%if request.user.is_superuser and not plt%}
    <font size="1"><a href="{% url 'genre-refresh' %}">手动刷新列表</a></font>
    {% endif %}
    <span>
        <form method="get" action="{% url 'deviceSearch' %}">
            <input type="search" name="q" placeholder="要搜索的内容" />
            <input type="submit" value="全局搜索">
        </form>
    </span>
</div>
<form action="{% url 'filter-result' %}">
    <table id="table-1">
        <tr>
            <td>
                <label>设备品牌: </label>
                <select name="brand">
                    <option value="all">所有</option>
                    {% for i in brand %}
                    {% if i is not None%}
                    <option value='{{i}}'>{{i}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                </br>
            </td>
            <td>
                <label>设备型号: </label>
                <select name="deviceModel">
                    <option value="all">所有</option>
                    {% for i in deviceModel %}
                    {% if i is not None%}
                    <option value='{{i}}'>{{i}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                </br>
            </td>
            <td>
                <label>当前版本: </label>
                <select name="OSVersion">
                    <option value="all">所有</option>
                    {% for i in OSVersion %}
                    {% if i is not None%}
                    <option value='{{i}}'>{{i}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                </br>
            </td>
            <td>
                <label>cpu品牌: </label>
                <select name="cpuBrand">
                    <option value="all">所有</option>
                    {% for i in cpuBrand %}
                    {% if i is not None%}
                    <option value='{{i}}'>{{i}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                </br>
            </td>
            <td>
                <label>cpu型号: </label>
                <select name="cpuModel">
                    <option value="all">所有</option>
                    {% for i in cpuModel %}
                    {% if i is not None%}
                    <option value='{{i}}'>{{i}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                </br>
            </td>
            <td>
                <label>cpu核心: </label>
                <select name="cpuCoreNum">
                    <option value="all">所有</option>
                    {% for i in cpuCoreNum %}
                    {% if i is not None%}
                    <option value='{{i}}'>{{i}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                </br>
            </td>
            <td>
                <label>设备平台: </label>
                <select name="genre">
                    <option value="all">所有</option>
                    {% for i in genres %}
                    {% if i is not None%}
                    <option value='{{i}}'>{{i}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                </br>
            </td>

        </tr>
        <tr>
            <td>
                <label>gpu品牌: </label>
                <select name="gpuBrand">
                    <option value="all">所有</option>
                    {% for i in gpuBrand %}
                    {% if i is not None%}
                    <option value='{{i}}'>{{i}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                </br>
            </td>
            <td>
                <label>gpu型号: </label>
                <select name="gpuModel">
                    <option value="all">所有</option>
                    {% for i in gpuModel %}
                    {% if i is not None%}
                    <option value='{{i}}'>{{i}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                </br>
            </td>
            <td>
                <label>分 辨 率: </label>
                <select name="resolution">
                    <option value="all">所有</option>
                    {% for i in resolution %}
                    {% if i is not None%}
                    <option value='{{i}}'>{{i}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                </br>
            </td>
            <td>
                <label>设备状态: </label>
                <select name="status">
                    <option value="all">所有</option>
                    {% for i in status %}
                    {% if i is not None%}
                    <option value='{{i}}'>{{i}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                </br>
            </td>
            <td>
                <label>借 用 人: </label>
                <select name="borrower">
                    <option value="all">所有</option>
                    {% for i in borrower %}
                    {% if i is not None%}
                    <option value='{{i}}'>{{i}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                </br>
            </td>
            <td>
                <label>R A M : </label>
                <select name="RAM">
                    <option value="all">所有</option>
                    {% for i in RAM %}
                    <option value='{{i}}'>{{i}}</option>
                    {% endfor %}
                </select>
                </br>
            </td>
            <td>
                <label>R O M : </label>
                <select name="ROM">
                    <option value="all">所有</option>
                    {% for i in ROM %}
                    <option value='{{i}}'>{{i}}</option>
                    {% endfor %}
                </select>
                </br>
            </td>
        </tr>
        <tr>
            <td colspan="7" id="dis-center">
                <input type="submit" value="筛选" />
            </td>
        </tr>
    </table>
</form>
{% endblock %}