
{% extends "base_generic.html" %}

{% block content %}
<div id="dis-center">
<h1>设备借用记录</h1>
    <table id="table-1">
        <tr>
            <th>借用人</th><th>操作类型</th><th>操作日期</th><th>设备id</th><th>操作员</th>
        </tr>
        {% for history in result %}
        <tr>
            <td>{{history.borrower}}</td><td>{{history.action}}</td><td>{{history.actTime|date:"Y-m-d H:i:s"}}</td><td>{{history.device.deviceId}}</td><td>{{history.actor}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

